<div class="card">
    <div class="card-body">
        <h3>Add BloodGroup Information</h3>
        <form action="/ideas" method="POST" class="form-group">
            <label for="title">Name</label>
            <input type="text" class="form-control" name="title">
            <label for="title">BloodGroup</label>
            <select class="form-control" name="bloodgroup">
                <option>O+</option>
                <option>O-</option>
                <option>A+</option>
                <option>A-</option>
                <option>B+</option>
                <option>B-</option>
                <option>AB+</option>
                <option>AB-</option>
            </select>
            <label for="title">Phone</label>
            <input type="number" class="form-control" name="phone">
            <label for="details">Details</label>
            <textarea type="text" class="form-control" name="details"></textarea>
            <br/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>